* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.21;
  background-color: #FFFFFF;
}

.center {
  padding-left: calc(50vw - 800px);
  padding-right: calc(50vw - 800px);
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .info-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}
header .info-area .contacts-area {
  display: flex;
  align-items: center;
  gap: 12px;
}
header .info-area .contacts-area__langbox {
  display: flex;
  font-size: 12px;
  font-weight: 700;
}
header .info-area .contacts-area__langbox-item {
  text-decoration: none;
  color: #fff;
  padding: 5px 7px;
  border-radius: 8px;
}
header .info-area .contacts-area__langbox-item:hover, header .info-area .contacts-area__langbox-item:focus, header .info-area .contacts-area__langbox-item:active {
  background-color: #F0145A;
}
header .info-area .contacts-area__item {
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  position: relative;
  margin-left: 6px;
}
header .info-area .contacts-area__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 35%;
  left: -12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background-color: #E6E6F0;
}
header .info-area .contacts-area a.contacts-area__item {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  border-bottom: 2px solid transparent;
}
header .info-area .contacts-area .phone-link:hover {
  border-bottom-color: #F0145A;
  color: #F0145A;
}
header .nav__list {
  margin: 0;
  padding: 0;
  font-weight: 700;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
header .nav__list .nav__list-item .nav__list-link {
  text-decoration: none;
  color: #fff;
  padding-bottom: 3px;
}
header .nav__list .nav__list-item .nav__list-link:hover {
  border-bottom: 2px solid #F0145A;
  color: #F0145A;
}

.section-with-bg {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.section-with-bg .intro {
  background-image: url(../img/intro-letter.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.section-with-bg .intro__label {
  margin: 0;
  padding-top: 477px;
  padding-bottom: 405px;
  color: #FFFFFF;
  font-size: 38px;
  font-weight: 700;
}
.section-with-bg .intro__btn {
  background-color: transparent;
  width: 42px;
  height: 42px;
  opacity: 50%;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  margin-bottom: 30px;
}
.section-with-bg .offer {
  padding-left: calc(50vw - 680px);
  padding-right: calc(50vw - 680px);
  display: flex;
  gap: 60px;
}
.section-with-bg .offer__labels {
  list-style: none;
  margin: 0;
  padding: 14.5px 0;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-with-bg .offer__labels-item {
  font-size: 38px;
  font-weight: 700;
  text-align: right;
  white-space: none;
  line-height: 46px;
  color: #B3B3BA;
}
.section-with-bg .offer__labels-item:hover {
  color: #F0145A;
  cursor: pointer;
}
.section-with-bg .offer .separator {
  width: 4px;
  height: 303px;
  background: rgba(255, 255, 255, 0.3);
}
.section-with-bg .offer__desc {
  color: #FFFFFF;
  padding-top: 73px;
  padding-bottom: 73px;
  width: 861px;
}
.section-with-bg .offer__desc-label {
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
}
.section-with-bg .offer__desc-text {
  margin: 0;
  font-size: 19px;
}
.section-with-bg .services {
  padding-bottom: 60px;
}
.section-with-bg .services__title {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #24A3FF;
}
.section-with-bg .services__title:hover {
  color: #F0145A;
}
.section-with-bg .services__label {
  margin: 0 0 60px 0;
  font-size: 38px;
  color: #F0145A;
}
.section-with-bg .services__articles {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}
.section-with-bg .services__articles-item {
  max-width: 493.33px;
  display: flex;
  flex-direction: column;
}
.section-with-bg .services__articles-item-logo {
  width: 92px;
  height: 92px;
  background: #FFFFFF;
  border-radius: 24px;
  margin: 0 0 30px 0;
}
.section-with-bg .services__articles-item-title {
  font-size: 22px;
  color: #24A3FF;
  margin: 0 0 15px 0;
}
.section-with-bg .services__articles-item-desc {
  margin: 0;
  color: #FFFFFF;
}

.team {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 60px;
}
.team__photo {
  width: 400px;
  height: 298px;
}
.team__desc {
  width: 1200px;
}
.team__desc-title {
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 14px;
  font-weight: 700;
  color: #24A3FF;
  margin: 0 0 5px 0;
}
.team__desc-title:hover {
  color: #F0145A;
}
.team__desc-quote {
  color: #F0145A;
  font-weight: 700;
  font-size: 38px;
  margin: 0 0 30px 0;
}
.team__desc-name {
  font-weight: 700;
  color: #B3B3BA;
  margin: 0 0 6px 0;
}
.team__desc-post {
  font-size: 14px;
  color: #B3B3BA;
}
.team .slider {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.team .slider__circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #24A3FF;
}
.team .slider__circle:nth-child(2), .team .slider__circle:nth-child(3) {
  opacity: 0.2;
}
.team .slider__circle:hover {
  cursor: pointer;
  background: #24A3FF;
  opacity: 1;
}

.partners {
  padding-left: calc(50vw - 860px);
  padding-right: calc(50vw - 860px);
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.partners__label {
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
  color: #323264;
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
}
.partners__list-item {
  width: 430px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners__list-item:nth-child(1) {
  background-color: #1C4280;
  border-top-left-radius: 12px;
}
.partners__list-item:nth-child(2) {
  background-color: #143646;
}
.partners__list-item:nth-child(3) {
  background-color: #F48B30;
}
.partners__list-item:nth-child(4) {
  background-color: #9E4DC3;
  border-top-right-radius: 12px;
}
.partners__list-item:nth-child(5) {
  background-color: #FD9339;
}
.partners__list-item:nth-child(6) {
  background-color: #E2E2E4;
}
.partners__list-item:nth-child(7) {
  background-color: #C71C36;
}
.partners__list-item:nth-child(8) {
  background-color: #DCF3F9;
}
.partners__list-item:nth-child(9) {
  background-color: #EAEAEA;
  border-bottom-left-radius: 12px;
}
.partners__list-item:nth-child(10) {
  background-color: #282240;
}
.partners__list-item:nth-child(11) {
  background-color: #1D4568;
}
.partners__list-item:nth-child(12) {
  background-color: #000000;
  border-bottom-right-radius: 12px;
}/*# sourceMappingURL=style.css.map */