* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.21;
  background-color: var(--white-text-color);
}

.center {
  padding-left: calc(50vw - 800px);
  padding-right: calc(50vw - 800px);
}

.blue-link {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--link-text-color);
  transition: 0.4s;
}
.blue-link svg {
  position: absolute;
  margin-left: 5.5px;
  padding-bottom: 2.8px;
  display: inline-block;
  width: 8px;
  height: 18px;
  fill: none;
  transition: 0.4s;
  stroke: var(--link-text-color);
}
.blue-link:hover, .blue-link:focus, .blue-link:active {
  color: var(--accent-text-color);
}
.blue-link:hover svg, .blue-link:focus svg, .blue-link:active svg {
  stroke: var(--accent-text-color);
}

.section__label {
  font-weight: 700;
  font-size: 38px;
  color: var(--accent-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --white-text-color: #FFF;
  --black-text-color: #000;
  --main-text-color: #323264;
  --alt-text-color: #46466E;
  --soft-text-color: #686887;
  --accent-text-color: #F0145A;
  --link-text-color: #24A3FF;
  --link-hover-text-color: #0085FF;
  --link-active-text-color: #006CCF;
  --grey-text-color: #B3B3BA;
  --bg-color: #F5F5FA;
  --bg-alt-color: #EDEDF7;
  --separator-color: #E6E6F0;
  --main-gradient: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
  --soft-gradient: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  --red-gradient: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
  --supersoft-gradient: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  --red-text-gradient: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo__icon {
  width: 130px;
  height: 60px;
}
header .info-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}
header .info-area .contacts-area {
  display: flex;
  align-items: center;
  gap: 12px;
}
header .info-area .contacts-area__langbox {
  display: flex;
  font-size: 12px;
  font-weight: 700;
}
header .info-area .contacts-area__langbox-item {
  text-decoration: none;
  color: var(--white-text-color);
  padding: 5px 7px;
  border-radius: 8px;
  transition: 0.4s;
}
header .info-area .contacts-area__langbox-item:hover, header .info-area .contacts-area__langbox-item:focus, header .info-area .contacts-area__langbox-item:active {
  background-color: var(--accent-text-color);
}
header .info-area .contacts-area__item {
  padding: 0;
  margin: 0;
  color: var(--white-text-color);
  position: relative;
  margin-left: 6px;
}
header .info-area .contacts-area__item-logo {
  width: 24px;
  height: 24px;
  fill: var(--white-text-color);
  transition: 0.4s;
}
header .info-area .contacts-area__item-logo:hover, header .info-area .contacts-area__item-logo:active {
  fill: var(--accent-text-color);
}
header .info-area .contacts-area__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 35%;
  left: -12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background-color: var(--separator-color);
}
header .info-area .contacts-area a.contacts-area__item {
  text-decoration: none;
  font-weight: 700;
  color: var(--white-text-color);
  border-bottom: 2px solid transparent;
}
header .info-area .contacts-area .phone-link:hover {
  border-bottom-color: var(--accent-text-color);
  color: var(--accent-text-color);
}
header .header__toggler {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 57.5px;
  right: 15px;
}
header .header__toggler:hover {
  background-color: var(--separator-color);
}
header .header__toggler:hover span {
  border-color: var(--main-text-color);
}
header .header__toggler span {
  display: block;
  background-color: var(--white-text-color);
  position: absolute;
  width: 18px;
  border: 1px solid var(--white-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .header__toggler span:nth-child(1) {
  margin-top: -6px;
}
header .header__toggler span:nth-child(3) {
  margin-top: 6px;
}
header .nav {
  display: flex;
}
header .nav__list {
  margin: 0;
  padding: 0;
  font-weight: 700;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
header .nav__list .nav__list-item .nav__list-link {
  text-decoration: none;
  color: var(--white-text-color);
  padding-bottom: 3px;
  transition: 0.4s;
}
header .nav__list .nav__list-item .nav__list-link:hover {
  border-bottom: 2px solid var(--accent-text-color);
  color: var(--accent-text-color);
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__location {
  display: flex;
  justify-content: space-between;
}
.footer__location .location__container {
  display: flex;
  align-items: center;
  gap: 26px;
}
.footer__location .location__container-address {
  margin: 0;
  color: var(--main-text-color);
}
.footer__location .location__container-map {
  margin: 0;
  font-size: 12px;
  position: relative;
}
.footer__location .location__container-map::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 30%;
  left: -16px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background-color: var(--grey-text-color);
}
.footer__location .rights {
  margin: 0;
  color: var(--grey-text-color);
}
.footer__links {
  margin-top: 21px;
  display: flex;
  gap: 26px;
  align-items: center;
}
.footer__links-facebook svg {
  display: block;
  width: 38px;
  height: 38px;
  fill: var(--link-text-color);
  transition: 0.4s;
}
.footer__links-facebook svg:hover, .footer__links-facebook svg:active {
  fill: var(--accent-text-color);
}
.footer__links-phone {
  color: var(--alt-text-color);
}
.footer__links-phone, .footer__links-email {
  text-transform: none;
  font-size: 16px;
  position: relative;
}
.footer__links-phone::before, .footer__links-email::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 30%;
  left: -16px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background-color: var(--grey-text-color);
}

.section-with-bg {
  background: var(--supersoft-gradient);
  border-radius: 0px 0px 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.section-with-bg .intro {
  background-image: url(../img/svg/intro-letter.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.section-with-bg .intro__label {
  margin: 0;
  padding-top: 477px;
  padding-bottom: 405px;
  color: var(--white-text-color);
  font-size: 38px;
  font-weight: 700;
}
.section-with-bg .intro__link {
  margin: 0px auto;
  display: block;
  background-color: transparent;
  width: 42px;
  height: 42px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-bottom: 30px;
  position: relative;
  transition: 0.4s;
}
.section-with-bg .intro__link-svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 14px;
  stroke: var(--white-text-color);
  transition: 0.4s;
}
.section-with-bg .intro__link:hover {
  border-color: var(--accent-text-color);
}
.section-with-bg .intro__link:hover .intro__link-svg {
  stroke: var(--accent-text-color);
}
.section-with-bg .offer {
  padding-left: calc(50vw - 680px);
  padding-right: calc(50vw - 680px);
  display: flex;
  gap: 60px;
  overflow: hidden;
}
.section-with-bg .offer__labels {
  list-style: none;
  margin: 0;
  padding: 14.5px 0;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-with-bg .offer__labels-item {
  text-align: right;
  color: var(--grey-text-color);
  transition: 0.4s;
}
.section-with-bg .offer__labels-item:hover {
  color: var(--accent-text-color);
  cursor: pointer;
}
.section-with-bg .offer__desc {
  padding-left: 60px;
  border-left: 4px solid rgba(255, 255, 255, 0.3);
  color: var(--white-text-color);
  padding-top: 73px;
  padding-bottom: 73px;
  max-width: 861px;
  line-height: 1.58;
}
.section-with-bg .offer__desc-label {
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
}
.section-with-bg .offer__desc-text {
  margin: 0;
  font-size: 19px;
}
.section-with-bg .services {
  padding-bottom: 60px;
}
.section-with-bg .services__title {
  margin: 0 0 10px 0;
}
.section-with-bg .services__label {
  margin: 0 0 60px 0;
}
.section-with-bg .services__articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 60px;
  flex-wrap: wrap;
}
.section-with-bg .services__articles-item {
  display: flex;
  flex-direction: column;
}
.section-with-bg .services__articles-item-logo {
  width: 92px;
  height: 92px;
  background: var(--white-text-color);
  border-radius: 24px;
  margin: 0 0 30px 0;
}
.section-with-bg .services__articles-item-logo svg {
  display: block;
  margin: 14px;
  width: 64px;
  height: 64px;
  z-index: 10;
}
.section-with-bg .services__articles-item-title {
  font-size: 22px;
  text-transform: none;
  margin: 0 0 15px 0;
}
.section-with-bg .services__articles-item-desc {
  line-height: 1.625;
  margin: 0;
  color: var(--white-text-color);
  max-width: 493.33px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 60px;
}
.team__photo {
  width: 400px;
  height: 298px;
  border-radius: 12px 0px 0px 12px;
  background: url(../img/team-1-alex.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.team__desc {
  max-width: 1200px;
}
.team__desc-title {
  padding-top: 30px;
  margin: 0 0 5px 0;
}
.team__desc-quote {
  margin: 0 0 30px 0;
}
.team__desc-name {
  font-weight: 700;
  color: var(--grey-text-color);
  margin: 0 0 6px 0;
}
.team__desc-post {
  line-height: 1.57;
  margin: 0;
  font-size: 14px;
  color: var(--grey-text-color);
}
.team__desc-title, .team__desc-quote, .team__desc-name, .team__desc-post {
  padding-left: 30px;
}
.team .slider {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.team .slider__circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--link-text-color);
}
.team .slider__circle:nth-child(2), .team .slider__circle:nth-child(3) {
  opacity: 0.2;
}
.team .slider__circle:hover, .team .slider__circle:active {
  cursor: pointer;
  background: var(--link-text-color);
  opacity: 1;
}

.partners {
  padding-left: calc(50vw - 860px);
  padding-right: calc(50vw - 860px);
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.partners__label {
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.partners__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(256px, 430px));
  grid-template-rows: repeat(3, 120px);
}
.partners__list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.partners__list-item:nth-child(1) {
  background-color: #1C4280;
  border-top-left-radius: 12px;
}
.partners__list-item:nth-child(2) {
  background-color: #143646;
}
.partners__list-item:nth-child(3) {
  background-color: #F48B30;
}
.partners__list-item:nth-child(4) {
  background-color: #9E4DC3;
  border-top-right-radius: 12px;
}
.partners__list-item:nth-child(5) {
  background-color: #FD9339;
}
.partners__list-item:nth-child(6) {
  background-color: #E2E2E4;
}
.partners__list-item:nth-child(7) {
  background-color: #C71C36;
}
.partners__list-item:nth-child(8) {
  background-color: #DCF3F9;
}
.partners__list-item:nth-child(9) {
  background-color: #EAEAEA;
  border-bottom-left-radius: 12px;
}
.partners__list-item:nth-child(10) {
  background-color: #282240;
}
.partners__list-item:nth-child(11) {
  background-color: #1D4568;
}
.partners__list-item:nth-child(12) {
  background-color: #000000;
  border-bottom-right-radius: 12px;
}

.publications__title {
  padding-top: 30px;
  padding-bottom: 10px;
}
.publications__label {
  margin: 0 0 30px 0;
}
.publications__articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--separator-color);
}
.publications__articles-item {
  max-width: 513.33px;
}
.publications__articles-item-photo {
  margin-bottom: 30px;
}
.publications__articles-item-photo img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.publications__articles-item-title {
  font-size: 16px;
  text-transform: none;
  padding: 0 30px;
  margin: 0 0 15px 0;
}
.publications__articles-item-date {
  text-transform: uppercase;
  margin: 0 30px;
  font-weight: 700;
  font-size: 12px;
  padding-bottom: 15px;
  color: var(--grey-text-color);
  border-bottom: 4px solid var(--separator-color);
}
.publications__articles-item-text {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0 30px 30px;
  font-size: 14px;
  color: var(--black-text-color);
  line-height: 1.57;
}

@media screen and (max-width: 1719px) {
  .main .team__desc {
    max-width: 1000px;
  }
  .main .partners__list-item {
    border-radius: 0px;
  }
}
@media screen and (max-width: 1500px) {
  .center {
    padding-left: calc(50vw - 660px);
    padding-right: calc(50vw - 660px);
  }
  .main .section-with-bg .intro {
    background-size: 697px 799px;
  }
  .main .section-with-bg .intro__label {
    padding-top: 377px;
    padding-bottom: 305px;
  }
  .main .section-with-bg .offer {
    padding-left: calc(50vw - 540px);
    padding-right: calc(50vw - 540px);
  }
  .main .section-with-bg .offer__desc {
    max-width: 645px;
    padding-top: 43px;
    padding-bottom: 43px;
  }
  .main .section-with-bg .services .services__articles-item-desc,
  .main .section-with-bg .services .services__articles-item-title {
    max-width: 400px;
  }
  .main .team__photo {
    height: 344px;
  }
  .main .team__desc {
    max-width: 920px;
  }
  .main .team__desc-quote {
    max-width: 860px;
  }
  .main .partners {
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .main .partners .partners__list-item {
    border-radius: 0px;
  }
  .main .publications__title {
    padding-top: 0;
  }
  .main .publications__articles-item {
    max-width: 420px;
  }
}
@media screen and (max-width: 1260px) {
  .main .team__photo {
    height: 528px;
  }
  .main .team__desc {
    max-width: 504px;
  }
  .main .team__desc-quote {
    max-width: 444px;
  }
}
@media screen and (max-width: 1200px) {
  .center {
    padding-left: calc(50vw - 452px);
    padding-right: calc(50vw - 452px);
  }
  .main .section-with-bg .intro {
    background-size: 700px 768px;
  }
  .main .section-with-bg .intro__label {
    padding-top: 361px;
    padding-bottom: 289px;
  }
  .main .section-with-bg .offer {
    padding-left: calc(50vw - 452px);
    padding-right: calc(50vw - 452px);
  }
  .main .section-with-bg .offer__desc {
    max-width: 469px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .main .section-with-bg .services .services__articles-item-desc,
  .main .section-with-bg .services .services__articles-item-title {
    max-width: 261.33px;
  }
  .main .publications__articles-item {
    max-width: 281.33px;
  }
}
@media screen and (max-width: 1023px) {
  .main .partners__list {
    grid-template-columns: repeat(3, minmax(256px, 430px));
    grid-template-rows: repeat(4, 120px);
  }
}
@media screen and (max-width: 905px) {
  .center {
    padding-left: calc(50vw - 324px);
    padding-right: calc(50vw - 324px);
  }
  .header {
    justify-content: space-between;
  }
  .header .logo {
    position: absolute;
    top: 105px;
    z-index: 10;
  }
  .header .info-area {
    order: -1;
    align-items: flex-start;
    max-width: 100%;
    gap: 125px;
  }
  .header .info-area .contacts-area {
    max-width: 100%;
    justify-content: flex-start;
  }
  .main .section-with-bg .intro {
    background-size: 893px 1024px;
  }
  .main .section-with-bg .intro__label {
    padding-top: 489px;
    padding-bottom: 417px;
  }
  .main .section-with-bg .offer {
    padding-left: calc(50vw - 324px);
    flex-direction: column;
  }
  .main .section-with-bg .offer__labels {
    padding-top: 0;
    padding-bottom: 0;
    white-space: none;
    overflow: auto;
    flex-direction: row;
    white-space: nowrap;
  }
  .main .section-with-bg .offer__labels-item {
    text-align: left;
  }
  .main .section-with-bg .offer__desc {
    border-left: none;
    border-top: 4px solid rgba(255, 255, 255, 0.3);
    max-width: 648px;
    padding-top: 60px;
    padding-left: 0;
    padding-bottom: 0;
  }
  .main .section-with-bg .services__articles {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .main .section-with-bg .services .services__articles-item-desc,
  .main .section-with-bg .services .services__articles-item-title {
    max-width: 294px;
  }
  .main .team__photo {
    width: 648px;
    height: 500px;
    border-radius: 12px 12px 0px 0px;
  }
  .main .team__desc {
    max-width: 648px;
  }
  .main .team__desc-quote {
    max-width: 588px;
  }
  .main .partners__list {
    grid-template-columns: repeat(3, minmax(256px, 430px));
    grid-template-rows: repeat(4, 120px);
  }
  .main .publications__articles {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .main .publications__articles-item {
    max-width: 309px;
  }
  .main .publications__articles-item:nth-child(3) {
    max-width: unset;
    grid-column: 1/-1;
  }
  .footer {
    padding-bottom: 80px;
  }
  .footer__location {
    flex-direction: column;
    position: relative;
  }
  .footer__location .location__container {
    flex-direction: column;
    gap: 10px;
  }
  .footer__location .rights {
    position: absolute;
    top: 194px;
    text-align: center;
    width: 100%;
  }
  .footer__links {
    flex-direction: column;
    gap: 10px;
  }
  .footer .location__container-map::before,
  .footer .footer__links-phone::before,
  .footer .footer__links-email::before {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .main .section-with-bg .services__articles {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 30px;
    justify-items: center;
  }
  .main .section-with-bg .services .services__articles-item-desc,
  .main .section-with-bg .services .services__articles-item-title {
    max-width: 315px;
  }
  .main .partners__list {
    grid-template-columns: repeat(1, minmax(256px, 430px));
    grid-template-rows: repeat(6, 120px);
  }
  .main .partners__list-item:nth-child(7), .main .partners__list-item:nth-child(8), .main .partners__list-item:nth-child(9), .main .partners__list-item:nth-child(10), .main .partners__list-item:nth-child(11), .main .partners__list-item:nth-child(12) {
    display: none;
  }
  .main .publications__articles {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
  }
  .main .publications__articles-item {
    max-width: 315px;
  }
  .main .publications__articles-item:nth-child(3) {
    max-width: 315px;
  }
}
@media screen and (max-width: 551px) {
  .main .section-with-bg .intro__label {
    padding-top: 443px;
  }
}
@media screen and (max-width: 475px) {
  .center {
    padding-left: calc(50vw - 157.5px);
    padding-right: calc(50vw - 157.5px);
  }
  .section__label {
    font-size: 30px;
  }
  .header {
    background-color: rgba(245, 245, 250, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header .logo {
    position: absolute;
    top: 60px;
    z-index: 10;
  }
  .header .logo__icon {
    max-width: 69px;
    max-height: 32px;
  }
  .header__toggler {
    display: block;
  }
  .header .info-area {
    order: -1;
    align-items: flex-start;
    width: 100%;
  }
  .header .info-area .contacts-area {
    width: 100%;
    justify-content: space-between;
  }
  .header .info-area .contacts-area a.phone-link {
    margin: 0;
    align-self: flex-end;
  }
  .header .info-area .contacts-area a.phone-link::before {
    display: none;
  }
  .header .info-area .contacts-area__item:nth-child(2), .header .info-area .contacts-area__item:nth-child(4) {
    display: none;
  }
  .header .info-area .nav {
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(50, 50, 100, 0.7);
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
  }
  .header .info-area .nav__list {
    align-self: flex-end;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--white-text-color);
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 21;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 64px;
    padding-bottom: 12px;
    border-radius: 12px 12px 0px 0px;
  }
  .header .info-area .nav__list .nav__list-item {
    width: 95%;
    text-align: center;
    padding: 7px 0px;
    border-radius: 12px;
    transition: 0.4s;
  }
  .header .info-area .nav__list .nav__list-item:hover, .header .info-area .nav__list .nav__list-item:active {
    background: #E6E6F0;
  }
  .header .info-area .nav__list .nav__list-item .nav__list-link {
    color: var(--link-text-color);
    font-size: 24px;
  }
  .header .info-area .nav__list .nav__list-item .nav__list-link:hover, .header .info-area .nav__list .nav__list-item .nav__list-link:active {
    border: none;
    color: var(--accent-text-color);
  }
  .main .section-with-bg .intro {
    background-size: 523px 600px;
  }
  .main .section-with-bg .intro__label {
    padding-top: 231px;
    padding-bottom: 159px;
  }
  .main .section-with-bg .offer {
    padding-left: calc(50vw - 157.5px);
    flex-direction: column;
    gap: 30px;
  }
  .main .section-with-bg .offer__labels {
    padding-top: 0;
    padding-bottom: 0;
    white-space: none;
    overflow: auto;
    flex-direction: row;
    white-space: nowrap;
  }
  .main .section-with-bg .offer__labels-item {
    text-align: left;
  }
  .main .section-with-bg .offer__desc {
    max-width: 315px;
    padding-top: 30px;
    padding-bottom: 0;
  }
  .main .section-with-bg .offer__desc-label {
    font-size: 20px;
  }
  .main .section-with-bg .services .services__articles-item-desc,
  .main .section-with-bg .services .services__articles-item-title {
    max-width: 315px;
  }
  .main .section-with-bg .services__articles {
    justify-content: flex-start;
  }
  .main .team__photo {
    width: 315px;
    height: 500px;
    border-radius: 12px 12px 0px 0px;
  }
  .main .team__desc {
    max-width: 315px;
  }
  .main .publications__title {
    padding-top: 0;
  }
}/*# sourceMappingURL=style.css.map */