// main styles

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.21;
    background-color: var(--white-text-color);
}

.center {
    padding-left: calc(50vw - 800px);
    padding-right: calc(50vw - 800px);
}



.blue-link {
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--link-text-color);
    transition: .4s;
    svg {
        position: absolute;
        margin-left: 5.5px;
        padding-bottom: 2.8px;
        display: inline-block;
        width: 8px;
        height: 18px;
        fill: none;
        transition: .4s;
        stroke: var(--link-text-color);
    }
    &:hover,
    &:focus,
    &:active {
        color: var(--accent-text-color);
    }
    &:hover svg,
    &:focus svg,
    &:active svg {
        stroke: var(--accent-text-color);
    }
}

.section__label {
    font-weight: 700;
    font-size: 38px;
    background: var(--red-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }