
header {

    position: absolute;
    top: 0;
    width: 100%;
    

    padding-top: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {

        &__icon {
            width: 130px;
            height: 60px;
        }
    }

    .info-area {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
        .contacts-area {
            display: flex;
            align-items: center;
            gap: 12px;
            &__langbox {
                display: flex;
                font-size: 12px;
                font-weight: 700;
                &-item {
                    text-decoration: none;
                    color: #fff;
                    
                    padding: 5px 7px;
                    border-radius: 8px;
                }
                &-item:hover,
                &-item:focus,
                &-item:active {
                    background-color: #F0145A;
                }
                
            }
            &__item {
                padding: 0;
                margin: 0;
                color: #FFFFFF;
                position: relative;
                margin-left: 6px;
                &-logo {
                    width: 24px;
                    height: 24px;
                    fill: #FFFFFF;
                    &:hover,
                    &:active {
                        fill: #F0145A;
                    }
                    
                }
                &::before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 35%;
                    left: -12px;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    text-align: center;
                    vertical-align: middle;
                    background-color: #E6E6F0;
                }
            }

            a.contacts-area__item {
                text-decoration: none;
                font-weight: 700;
                color: #fff;
                border-bottom: 2px solid transparent;
            }

            .phone-link:hover {
                border-bottom-color: #F0145A;
                color: #F0145A;;
            }
        }
    }

    .nav {
        &__list {
            margin: 0;
            padding: 0;
            font-weight: 700;
            list-style: none;
            display: flex;
            justify-content: flex-end;
            gap: 15px;
            .nav__list-item {
                .nav__list-link {
                    text-decoration: none;
                    color: #fff;
                    padding-bottom: 3px;
                    &:hover {
                        border-bottom: 2px solid #F0145A;
                        color: #F0145A;   
                    }
                    
                }
            }
                        
        }
    }
}