
header {

    position: absolute;
    top: 0;
    width: 100%;
    

    padding-top: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {

        &__icon {
            width: 130px;
            height: 60px;
        }
    }

    .info-area {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
        .contacts-area {
            display: flex;
            align-items: center;
            gap: 12px;
            &__langbox {
                display: flex;
                font-size: 12px;
                font-weight: 700;
                &-item {
                    text-decoration: none;
                    color: var(--white-text-color);
                    
                    padding: 5px 7px;
                    border-radius: 8px;

                    transition: .4s;
                }
                &-item:hover,
                &-item:focus,
                &-item:active {
                    background-color: var(--accent-text-color);
                }
                
            }
            &__item {
                padding: 0;
                margin: 0;
                color: var(--white-text-color);
                position: relative;
                margin-left: 6px;
                &-logo {
                    width: 24px;
                    height: 24px;
                    fill: var(--white-text-color);

                    transition: .4s;
                    &:hover,
                    &:active {
                        fill: var(--accent-text-color);
                    }
                    
                }
                &::before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 35%;
                    left: -12px;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    text-align: center;
                    vertical-align: middle;
                    background-color: var(--separator-color);
                }
            }

            a.contacts-area__item {
                text-decoration: none;
                font-weight: 700;
                color: var(--white-text-color);
                border-bottom: 2px solid transparent;
            }

            .phone-link:hover {
                border-bottom-color: var(--accent-text-color);
                color: var(--accent-text-color);
            }
        }
    }

    .header__toggler {
        
        width: 32px;
        height: 32px;
        border-radius: 8px;
        cursor: pointer;
        display: none;
        position: absolute;
        top: 57.5px;
        right: 15px;

        &:hover {
            background-color: var(--separator-color);
        }
        &:hover span{
            border-color: var(--main-text-color);
        }

        span {
            display: block;
            background-color: var(--white-text-color);
            position: absolute;
            width: 18px;
            border: 1px solid var(--white-text-color);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:nth-child(1) {
                margin-top: -6px;
            }
            &:nth-child(3) {
                margin-top: 6px;
            }
        }
    }

    .nav {
        display: flex;
        &__list {
            margin: 0;
            padding: 0;
            font-weight: 700;
            list-style: none;
            display: flex;
            justify-content: flex-end;
            gap: 15px;
            .nav__list-item {
                .nav__list-link {
                    text-decoration: none;
                    color: var(--white-text-color);
                    padding-bottom: 3px;
                    transition: .4s;
                    &:hover {
                        border-bottom: 2px solid var(--accent-text-color);
                        color: var(--accent-text-color);   
                    }
                    
                }
            }
                        
        }
    }
}