.publications {
    
    &__title {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    &__label {
        margin: 0 0 30px 0;
    }


    &__articles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding-bottom: 30px;
        border-bottom: 2px solid var(--separator-color);

        &-item {
            max-width: 513.33px;
            &-photo {
                margin-bottom: 30px;
                
                img {
                    border-radius: 8px 8px 0px 0px;
                    width: 100%;
                    max-height: 200px;
                    object-fit: cover;
                }
            }

            &-title {
                font-size: 16px;
                text-transform: none;
                padding: 0 30px;
                margin: 0 0 15px 0;
            }

            &-date {
                text-transform: uppercase;
                margin: 0 30px;
                font-weight: 700;
                font-size: 12px;
                padding-bottom: 15px;
                color: var(--grey-text-color);
                border-bottom: 4px solid var(--separator-color);
            }

            &-text {
                margin-top: 15px;
                margin-bottom: 0;
                padding: 0 30px 30px;
                font-size: 14px;
                color: var(--black-text-color);
                line-height: 1.57;
            }
            
        }
    }
}