.section-with-bg {

    background: var(--supersoft-gradient);
    border-radius: 0px 0px 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    

    .intro {
        background-image: url(../img/svg/intro-letter.svg);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        &__label {
            margin: 0;
            padding-top: 477px;
            padding-bottom: 405px;
            color: var(--white-text-color);
            font-size: 38px;
            font-weight: 700;
        }
        &__link {
            margin: 0px auto;
            display: block;
            background-color: transparent;
            width: 42px;
            height: 42px;
            border: 2px solid rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            margin-bottom: 30px;
            position: relative;

            transition: .4s;

            &-svg {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                width: 20px;
                height: 14px;
                
                stroke: var(--white-text-color);

                transition: .4s;
            }
            &:hover {
                border-color: var(--accent-text-color);
            }
            &:hover .intro__link-svg {
                stroke: var(--accent-text-color);
            }
        }
    }


    .offer {
        padding-left: calc(50vw - 680px);
        padding-right: calc(50vw - 680px);
        display: flex;
        gap: 60px;
        overflow: hidden;
        &__labels {
            list-style: none;
            margin: 0;
            padding: 14.5px 0;
            min-width: 375px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            &-item {
                text-align: right;
                color: var(--grey-text-color);
                transition: .4s;
                &:hover {
                    color: var(--accent-text-color);
                    cursor: pointer;
                }
            }
        }

        &__desc {
            padding-left: 60px;
            border-left: 4px solid rgba(255, 255, 255, 0.3);
            color: var(--white-text-color);
            padding-top: 73px;
            padding-bottom: 73px;
            max-width: 861px;
            line-height: 1.58;
            &-label {
                font-size: 30px;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 30px;
            }
            &-text {
                margin: 0;
                font-size: 19px;
            }
        }
        

    }

    .services {
        padding-bottom: 60px;

        &__title {
            margin: 0 0 10px 0;
        }
        &__label {
            margin: 0 0 60px 0;
        }
        &__articles {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 60px;
            flex-wrap: wrap;

            &-item {
                
                display: flex;
                flex-direction: column;

                &-logo {
                    width: 92px;
                    height: 92px;
                    background: var(--white-text-color);
                    border-radius: 24px;
                    margin: 0 0 30px 0;
                    
                    svg {
                        display: block;
                        margin: 14px;
                        width: 64px;
                        height: 64px;
                        z-index: 10;
                    }
                }

                &-title {
                    font-size: 22px;
                    text-transform: none;
                    margin: 0 0 15px 0;
                }

                &-desc {
                    line-height: 1.625;
                    margin: 0;
                    color: var(--white-text-color);
                    max-width: 493.33px;
                }                
            }
        }
    }
}