
.team {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
    &__photo {
        max-width: 400px;
        max-height: 298px;
        border-radius: 12px 0px 0px 12px;
        background: url(../img/team-1-alex.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__desc {
        max-width: 1200px;
        &-title {
            padding-top: 30px;
            margin: 0 0 5px 0;
        }

        svg {
            display: inline-block;
            width: 8px;
            height: 18px;
            fill: none;
            stroke: var(--link-text-color);
        }

        &-quote {
            margin: 0 0 30px 0;
        }
        &-name {
            font-weight: 700;
            color: var(--grey-text-color);
            margin: 0 0 6px 0;
        }
        &-post {
            margin: 0;
            font-size: 14px;
            color: var(--grey-text-color);
        }

        &-title,
        &-quote,
        &-name,
        &-post {
            padding-left: 30px;
        }

    }
    .slider {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 15px;
        &__circle {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: var(--link-text-color);
            
            &:nth-child(2),
            &:nth-child(3) {
                opacity: .2;
            }
            &:hover,
            &:active {
                cursor: pointer;
                background: var(--link-text-color);
                opacity: 1;
            }
        }
    }
}